@model Lucky.Date.Models.News

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <title>Delete</title>
</head>
<body>

    <div class="block">
        <div class="block2">


            <h3 id="ppp3">Вы точно хотите удалить эту новость ?</h3>
            <div>
                <h4 id="ppp2">Новость</h4>
                <img id="ppp" class="img-thumbnail" src="@Model.img" width="300" height="300">
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                       Полное описание:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Desc)
                    </dd>
                </dl>


                <div id="but1">

                    <form asp-action="Delete">
                        <a id="link2" asp-controller="CRUD_NEWS" asp-action="Read">Назад</a>
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Удалить" class="btn btn-danger" />
                    </form>

                </div>
            </div>

        </div>
        </div>

  


</body>
</html>
