<link href="~/css/style.css" rel="stylesheet" type="text/css">
<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<div class="parent">
    <div class="block">
        <h3> @ViewBag.Message</h3>
        <a class="aaa" asp-controller="CRUD_ORDER" asp-action="Read">Вернуться на страницу администрирования</a>
    </div>
</div>