@model Lucky.Date.Models.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title>create</title>
</head>
<body>


    <div class="parent">
        <div class="block">


            <div class="block2">


                <h4 id="ppp">Добавление обращения</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label>Дата обращения</label>
                                <input asp-for="dateOrd" class="form-control" />
                                <span asp-validation-for="dateOrd" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Почта</label>
                                <input asp-for="email" class="form-control" />
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label> Id питомца</label>
                                <input asp-for="petID" class="form-control" />
                                <span asp-validation-for="petID" class="text-danger"></span>
                            </div>


                            <div id="but1">
                                <a id="link1" asp-controller="CRUD_ORDER" asp-action="Read">Назад</a>
                                <input type="submit" value="Создать" class="btn btn-primary" />

                            </div>

                            
                        </form>
                    </div>
                </div>
             
            </div>


           
        </div>
    </div>



</body>
</html>
