@model PetCartViewModel

<h2>Карта питомца</h2>
<div class="row mt-5 mb-2">

    @{
        foreach (Pet pet in Model.getPets)
        {

            @Html.Partial("Pet", pet);
        }

    }
</div>